html {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: helvetica;
  background-color: #FAFAFA;
  height: 100%; }

header {
  background-color: #B71C1C;
  height: 100px;
  width: 100%;
  text-align: center;
  opacity: .8;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24); }
  header span {
    font-size: 40px;
    color: #FFF;
    line-height: 250%; }
    @media screen and (max-width: 440px) {
      header span {
        font-size: 25px; } }

.container {
  width: 90%;
  margin: 0 auto -20px auto;
  min-height: calc(100vh - 120px); }
  .container__btn--count {
    background-color: #263238;
    border: 0;
    border-radius: 4px;
    color: #FFF;
    font-size: 20px;
    height: 35px;
    width: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24); }
  .container__btn--count:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.24); }
  .container__btn--reset {
    background-color: #263238;
    border: 0;
    border-radius: 4px;
    color: #FFF;
    font-size: 20px;
    height: 35px;
    width: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24); }
  .container__btn--reset:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.24); }
  .container__btn--restart {
    background-color: #263238;
    border: 0;
    border-radius: 4px;
    color: #FFF;
    font-size: 20px;
    height: 35px;
    width: 100px;
    margin: 8px 0 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24); }
  .container__btn--restart:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.24); }
  .container input {
    margin: 1em;
    height: 25px;
    color: #263238;
    border-radius: 4px;
    font-size: 16px;
    border: 1px solid black;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.24); }
    @media screen and (max-width: 900px) {
      .container input {
        font-size: 12px; } }
  .container__input-container {
    width: 80%;
    text-align: center;
    color: #263238;
    margin: 0 auto;
    font-size: 30px;
    padding: 1em 0 0; }
    @media screen and (max-width: 900px) {
      .container__input-container {
        padding: .5em 0 0; } }
  .container__counter {
    margin: 0 auto;
    padding: 2em 0;
    text-align: center;
    height: 150px; }
    @media screen and (max-width: 900px) {
      .container__counter {
        height: 100px; } }
    @media screen and (max-width: 440px) {
      .container__counter {
        height: 40px;
        padding: .5em 0; } }
  .container__counter--result {
    font-size: 140px; }
    @media screen and (max-width: 900px) {
      .container__counter--result {
        font-size: 100px; } }
    @media screen and (max-width: 440px) {
      .container__counter--result {
        font-size: 50px; } }
  .container__two-col {
    width: 49%;
    text-align: center;
    display: inline-block;
    font-size: 100px;
    color: #263238;
    padding-bottom: 50px; }
    @media screen and (max-width: 900px) {
      .container__two-col {
        margin: 10px auto;
        font-size: 75px; } }
    @media screen and (max-width: 650px) {
      .container__two-col {
        width: 100%;
        margin: 10px auto;
        font-size: 60px;
        padding-bottom: 0px; } }
    @media screen and (max-width: 440px) {
      .container__two-col {
        width: 100%;
        margin: 5px auto;
        font-size: 50px;
        padding: 20px 0; } }

footer {
  background-color: #323232;
  text-align: right;
  height: 20px;
  padding: 10px; }
  footer span {
    color: #FFF;
    font-size: 12px; }

/*# sourceMappingURL=style.css.map */
