///////////////////////////////////////
////    mixins                     ////
///////////////////////////////////////

@mixin box-shadow ($depth) {
  -webkit-box-shadow: $depth;
     -moz-box-shadow: $depth;
          box-shadow: $depth;
}

///////////////////////////////////////
////    variables                  ////
///////////////////////////////////////

$shadow1: 0 2px 4px 0 rgba(0,0,0,0.24);
$shadow2: 0 4px 8px 0 rgba(0,0,0,0.24);
$shadow3: 0 8px 12px 0 rgba(0,0,0,0.24);

$dark-gray: #263238;

///////////////////////////////////////
////    resets and class styles    ////
///////////////////////////////////////

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: helvetica;
  background-color: #FAFAFA;
  height: 100%;
}

header {
  background-color: #B71C1C;
  height: 100px;
  width: 100%;
  text-align: center;
  opacity: .8;
  @include box-shadow($shadow1);

    span {
      font-size: 40px;
      color: #FFF;
      line-height: 250%;

      @media screen and (max-width: 440px) {
       font-size: 25px;
      }
    }
}


.container {
  width: 90%;
  margin: 0 auto -20px auto;
  min-height: calc(100vh - 120px);
	
	&__resize{
		display: inline-block;
		@media screen and (max-width: 450px) {
       	display: block;
      }
	}

	&__btn{
		background-color: $dark-gray;
		border: 0;
		border-radius: 4px;
		color: #FFF;
		font-size: 20px;
		height: 35px;
		width: 100px;
		@include box-shadow($shadow2);
		
	}

    input {
      margin: 1em;
      height: 25px;
      color: $dark-gray;
      border-radius: 4px;
      font-size: 16px;
      border: 1px solid black;
      @include box-shadow($shadow1);

      @media screen and (max-width: 900px) {
       font-size: 12px;
      }

    }

    &__input-label {

    }

    &__input-container {
      width: 80%;
      text-align: center;
      color: $dark-gray;
      margin:0 auto;
      font-size: 30px;
      padding: 1em 0 0;


      @media screen and (max-width: 900px) {
       padding: .5em 0 0;
      }

    }

    &__counter {
      margin: 0 auto;
      padding: 2em 0;
      text-align: center;
      height: 150px;
      @media screen and (max-width: 900px) {
       height: 100px;
      }
      @media screen and (max-width: 440px) {
       height: 40px;
       padding: .5em 0;
      }
    }

    &__counter--result {
      font-size: 140px;

      @media screen and (max-width: 900px) {
       font-size: 100px;
      }
      @media screen and (max-width: 440px) {
       font-size: 50px;
      }
    }

    &__two-col {
      width: 49%;
      text-align: center;
      display: inline-block;
      font-size: 100px;
      color: $dark-gray;
      padding-bottom: 50px;

        @media screen and (max-width: 900px) {
         margin: 10px auto;
         font-size: 75px;
       }
       @media screen and (max-width: 650px) {
        width: 100%;
        margin: 10px auto;
        font-size: 60px;
        padding-bottom: 0px;
      }
       @media screen and (max-width: 440px) {
        width: 100%;
        margin: 5px auto;
        font-size: 50px;
        padding: 20px 0;
      }

    }
}


footer {
  background-color: #323232;
  text-align: right;
  height: 20px;
  padding: 10px;

  span {
    color: #FFF;
    font-size: 12px;
  }
}
